*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: #eeda28 ;
}
.heading{
    color: maroon;
    margin: 20px 20px;
    font-weight: 1000;
    position: center;
    
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
    
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(1, 11, 15);
}
p{
    color: rgb(1, 8, 12);
}
.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* Green */
.home {
    color: rgb(128, 0, 0);
}

.home:hover {
    background-color: rgb(128, 0, 0);
    color: white;
}

/* Blue */
.contacts {
    color: dodgerblue;
}

.contacts:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.about {
    color: orange;
}

.about:hover {
    background: #ff9800;
    color: white;
}
.button {
    background-color: #eb540e;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10%;
}
.button:hover{
    background: #ff9800;
    color: white;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#cab70e);
}
.header .row{
    margin-top: 70px;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px o 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-co-1, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.account-page{
    position: relative;
    margin: 70px;
    height: 400px;
    width: 430px;
    background: radial-gradient(#fff,#460808);
    border-radius: 10%;
}
.containers{
    position: center;
    margin-left: 3px; 
    margin-right: 3px;
    margin-top: auto;
    margin-bottom: auto;
    
    border-radius: 10%;
}
.form-container{
    background: rgb(255, 253, 253);
    width: 310px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
        font-weight: bold;
        padding: 0 10px;
        color: rgb(15, 15, 15);
        cursor: pointer;
        width: 100px;
        display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid rgb(10, 10, 10);
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
